.battle-map .char {
	border-radius: 50% 50%;
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-color: green;
	border: 1px solid #fff;
	left: 25px;
	text-align: center;
  	line-height: 30px;
}

.battle-map .char.enemy {
	background-color: red;
}

.battle-map .char.friend {
	background-color: green;
}

.battle-map .char span {
	color: #fff;
}

.battle-map td span {
	color: #fff;
}

.battle-map .controls{
	margin: 10px auto;
	display: table;
}

.battle-map select {
	margin: 10px auto;
	display: table;
}

.battle-map select {
	background-color: gray;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}

.battle-map .controls .enemy,
.battle-map .controls .friend,
.battle-map .controls .clear, 
.battle-map .controls .delete {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	background-color: gray;
	border: 1px solid;
	margin-right: 10px;
}

.battle-map .controls .delete {
	border-radius: 50%;
    margin: 0 auto;
    display: table;
}

.battle-map .controls .delete img {
	width: 70px;
}

.battle-map .dragContainer {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
}