.dice-roller {
  font-size: 35px;
  display: block;
  width: 100%;
  z-index: -1;
}

.rollDiceContainer {
  text-align:center;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 70px;
}

.rollDiceButton {
  border: 0 none;
  width: 90%;
  height: 60px;
  margin: 30px auto 0 auto;
  background-color: #2196F3;
  color: #FFF;
  font-size:30px;
  border-radius: 5px;
}

.selectedDices{
  top: 140px;
  bottom: 185px;
  left: 0;
  right: 0;
  overflow: auto;
  position: absolute;
}

.no-selected-dice{
  font-size: 20px;
  position: relative;
  top: 40px;
}

.rollDiceResult {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
}

.rollDiceResult .label {
  font-size: 17px;
  text-transform: uppercase;
}

.rollDiceResult .result {
  font-size: 70px;
}

#selectedDicesList {
  margin: 0 auto;
  padding: 0;
}

#selectedDicesList li {
  display: inline-block;
  width: 70px;
  height:70px;
  margin: 0 5px;
}

#selectedDicesList li img {
  width:100%;
}

#selectedDicesList li img.dimImage{
  opacity: 0.2;
}

#selectedDicesList li span{
  position:absolute;
  line-height:70px;
  width:70px;
}