#dicesList {
  display: none;
}

.listDiceContainer{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 70px;
  width: 100%;
}

.listDiceContainer #dicesList {
  margin: 0 auto;
  padding: 0;
  width: 480px;
}
.listDiceContainer #dicesList li {
  display: inline-block;
  width: 70px;
  height:70px;
  margin: 0 5px;
}

.listDiceContainer #dicesList li img {
  width:100%;
}


.fab {
  float: right;
  bottom: 70px;
  right: 70px;
  position: absolute;
}

.fab-primary, .fab-secondary {
    transition: all 0.35s ease-in-out;
}

.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
}

.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}

.fab.active .fab-secondary {
  opacity: 1;
  transform: rotate(0);
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-plus{
  background-color: #db4437;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-image: url(../../assets/img/bt_speed_dial_1x.png);
  background-repeat: no-repeat;
  background-position: center;
}

.fa-pencil {
  background-color: #db4437;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-image: url(../../assets/img/bt_compose2_1x.png);
  background-repeat: no-repeat;
  background-position: center;
}

.fa-circle {
  background-color: #db4437;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}