#dicesList {
  display: none;
}

.listDiceContainer{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 70px;
  width: 100%;
}

.listDiceContainer #dicesList {
  margin: 0 auto;
  padding: 0;
  width: 480px;
}
.listDiceContainer #dicesList li {
  display: inline-block;
  width: 70px;
  height:70px;
  margin: 0 5px;
}

.listDiceContainer #dicesList li img {
  width:100%;
}

.mfb-slidein-spring, .mfb-component__wrap {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.mfb-component__main-icon--resting,
.mfb-component__main-icon--active,
.mfb-component__button--child {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.mfb-component__button--main {
  color: white;
}

.icon-d4 {
  background-image: url(../../assets/img/icon-d4-white.png);
}

.icon-d6 {
  background-image: url(../../assets/img/icon-d6-white.png);
}

.icon-d8 {
  background-image: url(../../assets/img/icon-d8-white.png);
}

.icon-d10 {
  background-image: url(../../assets/img/icon-d10-white.png);
}

.icon-d20 {
  background-image: url(../../assets/img/icon-d20-white.png);
}

.icon-d100 {
  background-image: url(../../assets/img/icon-d100-white.png);
}