.main-header{
  background-color: #2196F3;
  color: #FFF;
  height: 40px;
  line-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-header .appName {
  width: 50%;
}

.main-header .appName span {
  font-size: 25px;
  font-weight: 700;
  margin-left: 22%;
}

.main-header .menu {
  margin-left: 5%;
  font-size: 25px;
}

.main-header .menu,
.main-header .appName {
  display: inline-block;
}
