.main-header .top {
  height: 9%;
  margin-top: 4%;
}
.main-header .appName {
  width: 50%;
}
.main-header .appName span {
  font-size: 25px;
  font-weight: 700;
  color: #333;
  margin-left: 22%;
}
.main-header .menu {
  margin-left: 5%;
  font-size: 25px;
}
.main-header .menu,
.main-header .appName {
  display: inline-block;
}
.main-header .menu span {
  min-width: 30px;
  min-height: 30px;
  display: block;
}
.main-header .menu ul{
  position: absolute;
  background-color: #eee;
  height: 157px;
  z-index: 99;
  left: 0;
  top: 36px;
  width: 50%;
  font-size: 28px;
}