.main-header .top {
  height: 9%;
  margin-top: 4%;
}
.main-header .appName {
  width: 50%;
}
.main-header .appName span {
  font-size: 17%;
  font-weight: 700;
  color: #333;
  margin-left: 22%;
}
.main-header .menu {
  margin-left: 5%;
  font-size: 15%;
}
.main-header .quick-menu {
  font-size: 14%;
  color: #333;
  height: 6%;
}

.main-header .quick-menu li {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: bold;
}
.main-header .quick-menu li .text {
  height: 86%;
}
.main-header .quick-menu li span {
  display: block;
  width: 100%;
}
.main-header .quick-menu .active,
.main-header .quick-menu .active .state{
  color: #ff8126;
}
.main-header .quick-menu .active .state{
  border-bottom: 10px solid #ff8126;
}
.main-header .cssDraw-line {
  display: block;
  height: 3px;
  width: 100%;
  border-bottom: 2px solid #333;
}

.main-header .menu,
.main-header .appName {
  display: inline-block;
}

.main-header .menu ul{
  position: absolute;
  background-color: #eee;
  height: 157px;
  z-index: 99;
  left: 0;
  top: 36px;
  width: 50%;
  font-size: 28px;
}