<?xml version='1.1' encoding='utf-8'?>
<widget id="org.rpgtools.rpg-tools" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RPG Tools</name>
    <description>
        Sistema web e app para ajudar mesas de RPG físicas ou online.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        RPG Tools Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
